$hu-max-width-modules: (base, responsive);

$hu-max-width-types: hu-append($hu-max-width-types,
  (
    // 30: 30%,
    50: 50%,
    75: 75%,

    // 33vw: 33vw,

    // 12rem: 12rem,
    // 17rem: 17rem,
    // 20rem: 20rem,
    // 33rem: hu-rem(528),

    // 50rem: 50rem,
    // 67rem: 67.625rem,
    100vw: 100vw,
    container: hu-rem(1600),
    var: unquote('var(--max-width)'),
    small-caption: 5em,
    caption: 12em,
    logo: 15em,
    small-column: 17.5em,
    measure: 40rem,
  )
);

$hu-max-width-types: map-merge($hu-max-width-types, $column-spacing);
