$hu-media-queries: (
  tiny: hu-em(340),
  max-palm: (max-w: hu-em(549)),
  palm: hu-em(550),
  widepalm: hu-em(680),
  max-lap: (max-w: hu-em(767)),
  lap: hu-em(768),
  desk: hu-em(960),
  bigdesk: hu-em(1400),
  max-bigdesk: (max-w: hu-em(1399)),
  wall: hu-em(1600),

  // lap-shallow: (
  //   min-w: hu-em(768),
  //   max-h: hu-em(550),
  // ),
  // max-desk-width: (
  //   max-w: hu-em(1399),
  //   ),
  // max-desk: (
  //   max-w: hu-em(1399),
  //   max-h: hu-em(1399),
  //   ),
  // tall: (
  //   other: (
  //     min-height: 85em,
  //   ),
  // ),

  // hover-only: (
  //   other: (
  //     hover: hover,
  //   ),
  // ),
);
