$column-spacing: column-space(0.25, "0-1/4");

@for $column from 0 through $site-layout-columns {
  $column-spacing: map-merge(
    $column-spacing,
    map-merge(
      column-space($column),
      column-space($column + .5, "#{$column}-1/2"),
    )
  );
}


$hu-spacing-scale: (
  auto: auto,
  0: 0,
  50: hu-rem(2),
  100: hu-rem(4),
  150: hu-rem(6),
  200: hu-rem(8),
  250: hu-rem(10),
  300: hu-rem(12),
  350: hu-rem(14),
  400: hu-rem(16),
  450: hu-rem(20),
  // 500: hu-rem(24),
  // 525: hu-rem(26),
  // 550: hu-rem(28),
  600: hu-rem(24),
  800: hu-rem(32),
  1000: hu-rem(40),

  "9/16": 56.25%,

  "-50vw": -50vw,

  site-top: var(--site-top),
);

$hu-spacing-scale: map-merge(
  $hu-spacing-scale,
  $column-spacing
);
