/* purgecss start ignore */
@import "site-variables";

@import "utilities/tools-functions";
@import "utilities/tools-mixins";
@import "utilities/tools-typography";

@import "base/hucssley-setup";

@import "base/custom-reset";
@import "base/custom-properties";

// @import "vendor/index";
@import "utilities/index";
@import "scoped/index";
/* purgecss end ignore */

@import "~hucssley/src/styles";
@import "classes/index";

.all-fill-current * { fill: currentColor }


// .highlight {
//   box-shadow: 0 0 0 1000px rgba(0,0,0,.5);
//   position: relative;
//   z-index: 9;
// }

