@keyframes pulse-down {
  0% {
    opacity: 0.35;
    transform: translateX(-50%);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) translateY(5%);
  }
  100% {
    opacity: 0.35;
    transform: translateX(-50%);
  }
}
