@mixin pseudo-hit-area-declarations($size, $left-right: false) {
  content: '';
  position: absolute;
  top: $size;
  bottom: $size;

  @if ($left-right != false) {
    right: $size;
    left: $size;
  }
}

@each $type, $value in $hit-area-types {
  @include hu-pseudo-generic-classes(hit-area-xy-#{$type}, ("::before"), $hit-area-modules) {
    @include pseudo-hit-area-declarations($value, true);
  }
}

@if index($hit-area-modules, responsive) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $type, $value in $hit-area-types {
        @include hu-pseudo-responsive(hu-class-name(hit-area-xy-#{$type}), ("::before"), $hit-area-modules, $mq-scale) {
          @include pseudo-hit-area-declarations($value, true);
        }
      }
    }
  }
}
