/* purgecss start ignore */
:root {
  --guide-color: rgba(0, 153, 255, 0.2);
  --site-column: #{$site-column};
  --site-top: calc(var(--site-column) * 1.5 + 1.65rem);
  --site-max-width: #{hu-get($hu-max-width-types, container)};
  --grid-template-columns-var1: 1fr 1fr;
  --rhythm-offset: -0.25em; // see rhythm-fix mixin in _tools-typography.scss
  --bg-image: '';
  --vh: 1vh; // Fallback units
}
/* purgecss end ignore */
